.remove-btn {
    margin-right: 0.5rem;
}

.fade-enter {
    opacity: 0.01;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
}


.fade-exit {
    opacity: 1;
}


.fade-exit-active {
    opacity: 0.01;
    transition: opacity 1000ms ease-in;
}

.btn-update{
    background-color: #343a40;
    width:100%;
    border-radius: 0px;
}
.btn-update:hover{
    background-color: #4e5863;
}

.photo-container {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.photo-container img {
    width: 100%;
    height: auto;
}

.photo-container .btn-update-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #343a40;
    border-radius: 0px;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    text-align: center;
}